tr td:first-child,
tr th:first-child {
    max-width: 65px;
    width: 65px;
}


/* Admin area forms */
label,input,select {
    display: inline-block;
}

label {
    width: 20%;
}

input,select {
    width: 80%;
    max-width: 250px;
}

.idcol {
    width: 75px;
}

.widercol {
    width: 350px;
}

#myModal .modal-body {
    max-height: 80vh;
    overflow: auto;
}
