body {
    background-image: url('../img/background_md_light.png');
}

body.breads{
    /*background-color: rgba(195,195,195,1.0);*/
    background-color: rgba(222,222,222,1.0);
}

body.desserts {
    /*background-color: rgba(245,212,19,1.0); */
    background-color: rgba(251,229,118,1.0);
}

body.maindish{
    /* background-color: rgba(163,221,180,1.0); */
    background-color: rgba(200,236,210,1.0);
}

body.other{
    /* background-color: rgba(219,145,194,1.0); */
    background-color: rgba(233,190,218,1.0);
}

body.soupsalad{
    /*background-color: rgba(187,167,226,1.0);*/
    background-color: rgba(212,201,236,1.0); 
}



.theme-showcase {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 2px #555;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

body .container .container {
    width: calc(100% - 15px)
} 

ul.recipelist,ul.ingredientlist {
    list-style-type: none;
    padding-left: 0;
}

.ingredient {
    text-transform: capitalize;
}

@media (max-width: 400px) {
    .navbar-brand {
        font-size: 12px;
        font-weight: bold;
        padding-left: 8px;
    }
}

.ingredients h4 {
    margin-top: 20px;
}

.print {
    display: none;
}

.links {
    margin-bottom: 20px;
}

.longlist {
    margin-top: 45px;
    -webkit-column-width: 175px;
    -webkit-column-rule: 1px inset #333;
    -webkit-column-gap: 40px;
    -webkit-column-break-after: right;

    column-width: 175px;
    column-rule: 1px inset #333;
    column-gap: 40px;
    column-break-after: right;

    -moz-column-width: 175px;
    -moz-column-rule: 1px inset #333;
    -moz-column-gap: 40px;
    -moz-column-break-after: right;
}

.alphagroup {
    display: inline-block;
    width: 200px;
}


.alphagroup h2 {
    margin-top: 0;
}
