/*
http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
 */

/*
http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
 */

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    margin-top: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.tt-suggestion.tt-cursor {
    background-color: #e5f0e2;
}

.tt-suggestion.tt-cursor:nth-of-type(odd) {
    background-color: #e5f0e2;
}

.tt-suggestion {
    padding: 5px;
    border-bottom: 1px dotted #333;
}


.tt-suggestion:nth-of-type(odd) {
    background-color: #e9e9e9;
}



.tt-dropdown-menu h2 {
    font-size: 18px;
    margin: 2px 0 2px 0;
}

.tt-suggestion p {
    margin: 2px 0 2px 0;
}

.tt-dropdown-menu .wherefound {
    color: #999;
}

.tt-dropdown-menu .wherefound em {
   color: #555;
}

/* Add support/icons for kinds: searchsuggestion.(category|ingredient|recipe) */


.searchsuggestion.recipe h2:before{
    content: "R:";
}

.searchsuggestion.category h2:before{
    content: "C:";
}

.searchsuggestion.ingredient h2:before{
    content: "I:";
}
.searchsuggestion.category p {
    display: none;
}

.empty-message {
    padding: 5px;
}
