/*
http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
 */

/*
http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
 */

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    margin-top: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.tt-suggestion.tt-cursor {
    background-color: #e5f0e2;
}

.tt-suggestion.tt-cursor:nth-of-type(odd) {
    background-color: #e5f0e2;
}

.tt-suggestion {
    padding: 5px;
    border-bottom: 1px dotted #333;
}


.tt-suggestion:nth-of-type(odd) {
    background-color: #e9e9e9;
}



.tt-dropdown-menu h2 {
    font-size: 18px;
    margin: 2px 0 2px 0;
}

.tt-suggestion p {
    margin: 2px 0 2px 0;
}

.tt-dropdown-menu .wherefound {
    color: #999;
}

.tt-dropdown-menu .wherefound em {
    color: #555;
}

.searchsuggestion .kind {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 3px 0;
    vertical-align: top;
}

.searchsuggestion.recipe .kind {
    background-image: url('../img/recipe_30.png');
}

.searchsuggestion.category .kind {
    background-image: url('../img/category_30.png');
}

.searchsuggestion.ingredient .kind {
    background-image: url('../img/ingredient_30.png');
}


.searchsuggestion h2 {
    vertical-align:top !important;
}

.searchsuggestion.category p {
    display: none;
}

.searchsuggestion.ingredient p {
    display: none;
}

.empty-message {
    padding: 5px;
}

.tt-dropdown-menu {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    max-height: 300px;
    overflow: auto;
    padding: 4px 0;
    width: 100%;
}

.smallsearch {
    position: absolute;
    z-index: 10000;
    left: 120px;
    top: 8px;
    width: calc(100% - 190px);
    overflow: visible;
}

@media (max-width: 4000px) {
    .smallsearch .tt-dropdown-menu {
        position: fixed !important;
        top: 47px !important;
        left: 10px !important;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 20px) !important;
    }
}
