<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Strip all trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ $1 [R=301,L]


    RewriteRule ^sitemap.xml$ ./sitemap.php
    RewriteRule ^search$ ./search.php
    RewriteRule ^quick$ ./quick.php
    RewriteRule ^favorites$ ./favorites.php
    RewriteRule ^tips$ ./tips.php
    RewriteRule ^meal$ ./meal.php
    RewriteRule ^ingredients$ ./ingredients.php

    RewriteRule ^meal/(.*) ./meal.php?id=$1&d=2 [B]
    RewriteRule ^recipe/(.*) recipe.php?id=$1&d=2 [B]
    RewriteRule ^category/(.*) category.php?id=$1&d=2 [B]
    RewriteRule ^ingredient/(.*) ingredient.php?id=$1&d=2 [B]
</IfModule>

AddDefaultCharset utf-8
<IfModule mod_mime.c>
    AddCharset utf-8 .php .html .xml .css .js .json
</IfModule>
