<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Strip all trailing slashes
    RewriteRule ^(.+)/$ $1 [R=301,L]


    RewriteRule ^quick$ ./quick.php?id=$1 
    RewriteRule ^favorites$ ./favorites.php?id=$1 
    RewriteRule ^tips$ ./tips.php?id=$1 
    RewriteRule ^meal$ ./meal.php?id=$1 
    RewriteRule ^ingredients$ ./ingredients.php?id=$1 

    RewriteRule ^meal/(.*) ./meal.php?id=$1&d=2
    RewriteRule ^recipe/(.*) recipe.php?id=$1&d=2 
    RewriteRule ^category/(.*) category.php?id=$1&d=2
    RewriteRule ^ingredient/(.*) ingredient.php?id=$1&d=2
</IfModule>

AddDefaultCharset utf-8
<IfModule mod_mime.c>
    AddCharset utf-8 .php .html .xml .css .js .json
</IfModule>
