/*.ingredients {
    display: inline-block;
    vertical-align: top;
}

.ingredients.sub {
    margin-left: 100px;
}

ul {
    padding-left: 10px;
    margin-top: 0;
}
.sub h3 {
    margin-top: 0;
}

.fraction {
    font-size: smaller;
}
    */



body {
    background-image: url('../img/background_md_light.png');
}

body.breads{
    /*background-color: rgba(195,195,195,1.0);*/
    background-color: rgba(222,222,222,1.0);
}

body.desserts {
    /*background-color: rgba(245,212,19,1.0); */
    background-color: rgba(251,229,118,1.0);
}

body.maindish{
    /* background-color: rgba(163,221,180,1.0); */
    background-color: rgba(200,236,210,1.0);
}

body.other{
    /* background-color: rgba(219,145,194,1.0); */
    background-color: rgba(233,190,218,1.0);
}

body.soupsalad{
    /*background-color: rgba(187,167,226,1.0);*/
    background-color: rgba(212,201,236,1.0); 
}



.theme-showcase {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 2px #555;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

body.meal .container .container {
    width: calc(100% - 15px)
} 

.quick:after {
    content: " "url('../img/timer_sm.png');
}


h1.quick:after {
    content: " "url('../img/timer_lg.png');
}

ul.recipelist {
    list-style-type: none;
    padding-left: 0;
}
