.ingredients {
    display: inline-block;
    vertical-align: top;
}

.ingredients.sub {
    margin-left: 100px;
}

ul {
    padding-left: 10px;
    margin-top: 0;
}
.sub h3 {
    margin-top: 0;
}

.fraction {
    font-size: smaller;
}
